/* Inizio Common */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Fine Common */

/* Prima riga product */
.container{
    width: 80%;
    margin: 100px auto;
}

.row{
    max-width: 1200px;
    margin: auto;
}

/* Primo prodotto */
.product{
    display: inline-block;
    width: calc(100%/3);
    padding: 5px;
}
/* Immagine - etichette - cuore */
.frame{
    position: relative;
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}

.etichette{
    position: absolute;
    left: 0px;
    bottom: 30px;  
}

.discount{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 7px;
}

.discount.discountred{
    background-color: red; 
    z-index: 1;
}

.discount.discountgreen{
    background-color: green;  
}

div.heart{
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.heart{
    color: black;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top:30px;
    right: 0px;
    font-size: 30px;
    line-height: 50px;
}
/* Fine Immagine - etichette - cuore */
/* Caratteristiche */
.caratteristiche{
    margin-top: 10px;
    margin-bottom: 50px;
}

p{
    font-size: 12px;
    color: grey;
}

h1{
    font-size: 14px;
    color: #000;
}

.prezzo{
    font-size: 12px;
}

.prezzo.originale{
    font-weight: bold;
    color: red;
}

.prezzo.sbarrato{
    text-decoration: line-through;
    color: grey;
}
/* Caratteristiche */
/* Fine Primo prodotto */

/* hover */
.immagine1{
    display: block;
}
.immagine2{
    display: none;
}

img:hover .immagine1{
    display: none;
}

img:hover .immagine2{
    display: block;
    z-index: 2;
}
/* Fine Prima riga product */