/* Inizio Common */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Fine Common */

/* Prima riga product */
.container{
    width: 80%;
    margin: 130px auto;
}

.row{
    margin: 50px 0px;
}

/* Primo prodotto */
#product{
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
}

img{
    width: 50%;
    height: auto;
}

.etichette{
    position: relative;
}

.discount{
    position: absolute;
    left: 0px;
    bottom: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 7px;
}

.discount.discountred{
    background-color: red; 
    z-index: 1;
}

.discount.discountgreen{
    background-color: green;  
}

div.heart{
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.heart{
    color: black;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top:30px;
    font-size: 30px;
    line-height: 50px;
}


#caratteristiche{
    margin-top: 10px;
}

p{
    font-size: 12px;
    color: grey;
}

h1{
    font-size: 14px;
    color: #000;
}

.prezzo{
    font-size: 12px;
}

.prezzo.originale{
    font-weight: bold;
    color: red;
}

.prezzo.sbarrato{
    text-decoration: line-through;
    color: grey;
}
/* Fine Primo prodotto */
/* Fine Prima riga product */